build/
dist/
docs/jsdoc/
log/
node_modules/
tmp/
typings/
.nyc_output/
css/
website/

*.bak
*.log
*.ai
npm-debug.log*
yarn-error.log*

.vscode
.DS_Store

package.tmp.json
package.dev.json
package.pub.json
bs-config.js
index.html
index.scss
dm.scss
dm.css
README.html
README.odt
README.pdf
build.sh
dev-notes.md

*.tgz
example.cy.js
cypress/downloads/downloads.html
