build/
dist/
docs/jsdoc/
log/
node_modules/
tmp/
typings/
.nyc_output/
css/

*.bak
*.log
npm-debug.log*
yarn-error.log*

.vscode
.DS_Store

package.dev.json
package.pub.json
bs-config.js
index.html
index.scss
dm.scss
dm.css
