:root
  --global-bottom-margin: 0.25rem
  --header-bottom-margin: 0.5rem

  --body-margin: 0px
  --main-margin: 0px
  --header-margin: 0px
  --nav-margin: 0px
  --scetion-margin: 0px
  --article-margin: 0px
  --aside-margin: 0px
  --footer-margin: 0px
  --details-margin: 0px
  --summary-margin: 0px
  --figure-margin: 0px
