// Border thickness
@for $size from 0 through 7
  .b#{$size}
    border: $size * 1px solid

  .bt#{$size}
    border-top: $size * 1px solid

  .bb#{$size}
    border-bottom: $size * 1px solid

  .bl#{$size}
    border-left: $size * 1px solid

  .br#{$size}
    border-right: $size * 1px solid

  .by#{$size}
    border-top: $size * 1px solid
    border-bottom: $size * 1px solid

  .bx#{$size}
    border-left: $size * 1px solid
    border-right: $size * 1px solid

// Specialized borders
.circle
  border-radius: 50%

.pill1
  border-radius: 10% / 50%

.pill2
  border-radius: 15% / 50%

.pill3
  border-radius: 20% / 50%

.pill4
  border-radius: 25% / 50%

// Border radius using Golden Ratio 1.618, calculated values truncated.
$radius_scale: 0, 0.25, 0.404, 0.654, 1.059, 1.713, 2.77, 4.449
@each $rval in $radius_scale
  $i: index($radius_scale, $rval)

  .r#{$i - 1}
    border-radius: $rval * 1rem

  .rtl#{$i - 1}
    border-top-left-radius: $rval * 1rem

  .rtr#{$i - 1}
    border-top-right-radius: $rval * 1rem

  .rbl#{$i - 1}
    border-bottom-left-radius: $rval * 1rem

  .rbr#{$i - 1}
    border-bottom-right-radius: $rval * 1rem

  .rt#{$i - 1}
    border-top-left-radius: $rval * 1rem
    border-top-right-radius: $rval * 1rem

  .rb#{$i - 1}
    border-bottom-left-radius: $rval * 1rem
    border-bottom-right-radius: $rval * 1rem

  .rl#{$i - 1}
    border-top-left-radius: $rval * 1rem
    border-bottom-left-radius: $rval * 1rem

  .rr#{$i - 1}
    border-top-right-radius: $rval * 1rem
    border-bottom-right-radius: $rval * 1rem

// Border line styles
.dash
  border-style: dashed

.dasht
  border-top-style: dashed

.dashb
  border-bottom-style: dashed

.dashl
  border-left-style: dashed

.dashr
  border-right-style: dashed

.dashy
  border-top-style: dashed
  border-bottom-style: dashed

.dashx
  border-left-style: dashed
  border-right-style: dashed

// Border line styles
.dot
  border-style: dotted

.dott
  border-top-style: dotted

.dotb
  border-bottom-style: dotted

.dotl
  border-left-style: dotted

.dotr
  border-right-style: dotted

.doty
  border-top-style: dotted
  border-bottom-style: dotted

.dotx
  border-left-style: dotted
  border-right-style: dotted
