// List bullet styles
$bullet_notations: (none: none, disc: disc, square: square, circle: circle, decimal: decimal, alpha: lower-alpha, roman: lower-roman )
@each $notation, $style in $bullet_notations
  .ls#{$notation}
    list-style-type: $style

.lsnone
  margin-left: 1rem

// Location of bullet
.lsin
  list-style-position: inside

.lsout
  list-style-position: outside

// List orientation row or column
.lsrow
  list-style-type: none
  display: inline
  li
    display: inline

.lscol
  list-style-type: none
  display: block
  li
    display: list-item block

ul.lsreset
  display: block
  list-style-type: revert
  list-style-position: revert
  li
    display: list-item block

ol.lsreset
  display: block
  list-style-type: decimal
  list-style-position: revert
  li
    display: list-item block
