// Border thickness
@for $size from 0 through 7 {
  .b#{$size} { 
    border: #{$size}px solid;
  }
  .bt#{$size} { 
    border-top: #{$size}px solid;
  }
  .bb#{$size} { 
    border-bottom: #{$size}px solid;
  }
  .bl#{$size} { 
    border-left: #{$size}px solid;
  }
  .br#{$size} { 
    border-right: #{$size}px solid;
  }
  .by#{$size} { 
    border-top: #{$size}px solid;
    border-bottom: #{$size}px solid;
  }
  .bx#{$size} { 
    border-left: #{$size}px solid;
    border-right: #{$size}px solid;
  }
}
// Specialized borders
.circle {
  border-radius: 50% !important;
}
.pill1 {
  border-radius: 10% / 50% !important;
}
.pill2 {
  border-radius: 15% / 50% !important;
}
.pill3 {
  border-radius: 20% / 50% !important;
}
.pill4 {
  border-radius: 25% / 50% !important;
}
// Border radius using Golden Ratio 1.618, calculated values truncated.
$radius_scale: 0, 0.25, 0.404, 0.654, 1.059, 1.713, 2.77, 4.449;
@each $rval in $radius_scale {
  $i: index($radius_scale, $rval);

  .r#{$i - 1} {
    border-radius: #{$rval}rem; 
  }
  .rtl#{$i - 1} {
    border-top-left-radius: #{$rval}rem; 
  }
  .rtr#{$i - 1} {
    border-top-right-radius: #{$rval}rem; 
  }
  .rbl#{$i - 1} {
    border-bottom-left-radius: #{$rval}rem; 
  }
  .rbr#{$i - 1} {
    border-bottom-right-radius: #{$rval}rem; 
  }
  .rl#{$i - 1} {
    border-top-left-radius: #{$rval}rem; 
    border-bottom-left-radius: #{$rval}rem; 
  }
  .rr#{$i - 1} {
    border-top-right-radius: #{$rval}rem; 
    border-bottom-right-radius: #{$rval}rem; 
  }
  .rt#{$i - 1} {
    border-top-left-radius: #{$rval}rem; 
    border-top-right-radius: #{$rval}rem; 
  }
  .rb#{$i - 1} {
    border-bottom-left-radius: #{$rval}rem; 
    border-bottom-right-radius: #{$rval}rem; 
  }
}
// Border line styles
.dash {
  border-style: dashed;
}
.dasht {
  border-top-style: dashed;
}
.dashb {
  border-bottom-style: dashed;
}
.dashl {
  border-left-style: dashed;
}
.dashr {
  border-right-style: dashed;
}
.dashy {
  border-top-style: dashed;
  border-bottom-style: dashed;
}
.dashx {
  border-left-style: dashed;
  border-right-style: dashed;
}
// Border line styles
.dot {
  border-style: dotted;
}
.dott {
  border-top-style: dotted;
}
.dotb {
  border-bottom-style: dotted;
}
.dotl {
  border-left-style: dotted;
}
.dotr {
  border-right-style: dotted;
}
.doty {
  border-top-style: dotted;
  border-bottom-style: dotted;
}
.dotx {
  border-left-style: dotted;
  border-right-style: dotted;
}
