// Display (supported)
.show {
  display: revert !important;
}
.hide {
  display: none !important;
}

$display_notations: (
  none: none, 
  inline: inline,
  iblock: inline-block, 
  block: block, 
  flex: flex, 
  iflex: inline-flex, 
  grid: grid, 
  igrid: inline-grid
);
@each $notation, $style in $display_notations {
  .d#{$notation} {
    display: $style !important;
  }
}

// MDN Display: https://developer.mozilla.org/en-US/docs/Web/CSS/display
$table_notations: (
  table: table, 
  tr: table-row, 
  td: table-cell, 
  tcap: table-caption,
  tcol: table-column,
  tcolgroup: table-column-group,
  thead: table-header-group, 
  tbody: table-row-group, 
  tfoot: table-footer-group
);
@each $notation, $style in $table_notations {
  .#{$notation} {
    display: $style !important;
  }
}
.tcapt {
  caption-side: top;
}
.tcapb {
  caption-side: bottom;
}
