// Display (supported)
.show {
  display: initial !important;
}
.hide {
  display: none !important;
}

$display_notations: none, inline, inline-block, block, flex, inline-flex, grid, inline-grid, table, table-row, table-cell;

@each $n in $display_notations {
  .d#{$n} {
    display: $n !important;
  }
}
