// Flex direction
.flex-r {
  flex-direction: row !important;
}
.flex-l {
  flex-direction: row-reverse !important;
}
.flex-d {
  flex-direction: column !important;
}
.flex-u {
  flex-direction: column-reverse !important;
}
// Wrap mode
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-rwrap {
  flex-wrap: wrap-reverse !important;
}
// Justify main axis
.flex-js {
  justify-content: flex-start !important;
}
.flex-je {
  justify-content: flex-end !important;
}
.flex-jc {
  justify-content: center !important;
}
.flex-ja {
  justify-content: space-around !important;
}
.flex-jb {
  justify-content: space-between !important;
}
// Justify cross axis
.flex-is {
  align-items: flex-start !important;
}
.flex-ie {
  align-items: flex-end !important;
}
.flex-ic {
  align-items: center !important;
}
.flex-ib {
  align-items: baseline !important;
}
.flex-ix {
  align-items: stretch !important;
}
// Justify everything
.flex-cs {
  align-content: flex-start !important;
}
.flex-ce {
  align-content: flex-end !important;
}
.flex-cc {
  align-content: center !important;
}
.flex-cb {
  align-content: space-between !important;
}
.flex-ca {
  align-content: space-around !important;
}
.flex-cx {
  align-content: stretch !important;
}
// Justify self
.flex-sa {
  align-self: auto !important;
}
.flex-ss {
  align-self: flex-start !important;
}
.flex-se {
  align-self: flex-end !important;
}
.flex-sc {
  align-self: center !important;
}
.flex-sb {
  align-self: baseline !important;
}
.flex-sx {
  align-self: stretch !important;
}
// Order
.flex-1 {
  order: 1 !important;
}
.flex-2 {
  order: 2 !important;
}
.flex-3 {
  order: 3 !important;
}
.flex-4 {
  order: 4 !important;
}
.flex-5 {
  order: 5 !important;
}
.flex-6 {
  order: 6 !important;
}
.flex-7 {
  order: 7 !important;
}
// Growth
.flex-grow1 {
  flex-grow: 1 !important;
}
.flex-grow2 {
  flex-grow: 2 !important;
}
.flex-grow3 {
  flex-grow: 3 !important;
}
.flex-grow4 {
  flex-grow: 4 !important;
}
.flex-grow5 {
  flex-grow: 5 !important;
}
.flex-grow6 {
  flex-grow: 6 !important;
}
.flex-grow7 {
  flex-grow: 7 !important;
}
// Shrink
.flex-shrink1 {
  flex-shrink: 1 !important;
}
.flex-shrink2 {
  flex-shrink: 2 !important;
}
.flex-shrink3 {
  flex-shrink: 3 !important;
}
.flex-shrink4 {
  flex-shrink: 4 !important;
}
.flex-shrink5 {
  flex-shrink: 5 !important;
}
.flex-shrink6 {
  flex-shrink: 6 !important;
}
.flex-shrink7 {
  flex-shrink: 7 !important;
}
