// Flex direction
.flex-r {
  flex-direction: row !important;
}
.flex-l {
  flex-direction: row-reverse !important;
}
.flex-d {
  flex-direction: column !important;
}
.flex-u {
  flex-direction: column-reverse !important;
}
// Wrap mode
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-rwrap {
  flex-wrap: wrap-reverse !important;
}
// Justify main axis
.flex-js {
  justify-content: flex-start !important;
}
.flex-je {
  justify-content: flex-end !important;
}
.flex-jc {
  justify-content: center !important;
}
.flex-ja {
  justify-content: space-around !important;
}
.flex-jb {
  justify-content: space-between !important;
}
// Justify cross axis
.flex-is {
  align-items: flex-start !important;
}
.flex-ie {
  align-items: flex-end !important;
}
.flex-ic {
  align-items: center !important;
}
.flex-ib {
  align-items: baseline !important;
}
.flex-ix {
  align-items: stretch !important;
}
// Justify everything
.flex-cs {
  align-content: flex-start !important;
}
.flex-ce {
  align-content: flex-end !important;
}
.flex-cc {
  align-content: center !important;
}
.flex-cb {
  align-content: space-between !important;
}
.flex-ca {
  align-content: space-around !important;
}
.flex-cx {
  align-content: stretch !important;
}
// Justify self
.flex-sa {
  align-self: auto !important;
}
.flex-ss {
  align-self: flex-start !important;
}
.flex-se {
  align-self: flex-end !important;
}
.flex-sc {
  align-self: center !important;
}
.flex-sb {
  align-self: baseline !important;
}
.flex-sx {
  align-self: stretch !important;
}
// Flex order, grow, shrink
@for $n from 1 through 7 {
  .flex-#{$n} {
    order: $n !important;
  }
  .flex-g#{$n} {
    flex-grow: $n !important;
  }
  .flex-s#{$n} {
    flex-shrink: $n !important;
  }
}
