// Flex direction
.fbr {
  flex-direction: row;
}
.fbl {
  flex-direction: row-reverse;
}
.fbd {
  flex-direction: column;
}
.fbu {
  flex-direction: column-reverse;
}
// Wrap mode
.fbnw {
  flex-wrap: nowrap;
}
.fbw {
  flex-wrap: wrap;
}
.fbrw {
  flex-wrap: wrap-reverse;
}
// Justify along Main axis
.fbjs {
  justify-content: flex-start;
}
.fbje {
  justify-content: flex-end;
}
.fbjc {
  justify-content: center;
}
.fbja {
  justify-content: space-around;
}
.fbjb {
  justify-content: space-between;
}
// Justify along Cross axis
.fbis {
  align-items: flex-start;
}
.fbie {
  align-items: flex-end;
}
.fbic {
  align-items: center;
}
.fbib {
  align-items: baseline;
}
.fbix {
  align-items: stretch;
}
// Justify everything
.fbcs {
  align-content: flex-start;
}
.fbce {
  align-content: flex-end;
}
.fbcc {
  align-content: center;
}
.fbcb {
  align-content: space-between;
}
.fbca {
  align-content: space-around;
}
.fbcx {
  align-content: stretch;
}
// Justify item self
.fbsa {
  align-self: auto;
}
.fbss {
  align-self: flex-start;
}
.fbse {
  align-self: flex-end;
}
.fbsc {
  align-self: center;
}
.fbsb {
  align-self: baseline;
}
.fbsx {
  align-self: stretch;
}
// Flex order, grow, shrink
@for $n from 0 through 7 {
  .fbo#{$n} {
    order: $n !important;
  }
  .fbo-#{$n} {
    order: -#{$n} !important;
  }
  .fb#{$n} {
    flex-grow: $n !important;
  }
  .fb-#{$n} {
    flex-shrink: $n !important;
  }
}
