// Flex direction
.fbr {
  flex-direction: row !important;
}
.fbl {
  flex-direction: row-reverse !important;
}
.fbd {
  flex-direction: column !important;
}
.fbu {
  flex-direction: column-reverse !important;
}
// Wrap mode
.fbnw {
  flex-wrap: nowrap !important;
}
.fbw {
  flex-wrap: wrap !important;
}
.fbrw {
  flex-wrap: wrap-reverse !important;
}
// Justify main axis
.fbjs {
  justify-content: flex-start !important;
}
.fbje {
  justify-content: flex-end !important;
}
.fbjc {
  justify-content: center !important;
}
.fbja {
  justify-content: space-around !important;
}
.fbjb {
  justify-content: space-between !important;
}
// Justify cross axis
.fbis {
  align-items: flex-start !important;
}
.fbie {
  align-items: flex-end !important;
}
.fbic {
  align-items: center !important;
}
.fbic {
  align-items: baseline !important;
}
.fbix {
  align-items: stretch !important;
}
// Justify everything
.fbcs {
  align-content: flex-start !important;
}
.fbce {
  align-content: flex-end !important;
}
.fbcc {
  align-content: center !important;
}
.fbcb {
  align-content: space-between !important;
}
.fbca {
  align-content: space-around !important;
}
.fbcx {
  align-content: stretch !important;
}
// Justify self
.fbsa {
  align-self: auto !important;
}
.fbss {
  align-self: flex-start !important;
}
.fbse {
  align-self: flex-end !important;
}
.fbsc {
  align-self: center !important;
}
.fbsb {
  align-self: baseline !important;
}
.fbsx {
  align-self: stretch !important;
}
// Flex order, grow, shrink
@for $n from 1 through 7 {
  .fbo#{$n} {
    order: $n !important;
  }
  .fbo-#{$n} {
    order: -#{$n} !important;
  }
  .fb#{$n} {
    flex-grow: $n !important;
  }
  .fb-#{$n} {
    flex-shrink: $n !important;
  }
}
