// Floats
.fll {
  float: left !important;
}
.flr {
  float: right !important;
}
.fln {
  float: none !important;
}
// Clearfix hack http://cssmojo.com/the-very-latest-clearfix-reloaded/
.cf:before,
.cf:after {
    content: " " !important;
    display: table !important;
}
.cf:after {
    clear: both !important;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1 !important;
}
