// Floats
.float-l, .fll {
  float: left;
}
.float-r, .flr {
  float: right;
}
.float-n, .fln {
  float: none;
}
// Clearfix hack http://cssmojo.com/the-very-latest-clearfix-reloaded/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
