// Grid column sizes
.gx1 {
  grid-template-columns: 1fr !important;
}
.gx2 {
  grid-template-columns: repeat(2, 1fr) !important;
}
.gx3 {
  grid-template-columns: repeat(3, 1fr) !important;
}
.gx4 {
  grid-template-columns: repeat(4, 1fr) !important;
}
.gx5 {
  grid-template-columns: repeat(5, 1fr) !important;
}
.gx6 {
  grid-template-columns: repeat(6, 1fr) !important;
}
.gx7 {
  grid-template-columns: repeat(7, 1fr) !important;
}
// Grid flow
.grid-fx {
  grid-auto-flow: column !important;
}
.grid-fy {
  grid-auto-flow: row !important;
}
// Grid graps, Golden Ratio, calculated values truncated
.gapx1 {
  grid-column-gap: 0.055rem !important;
}
.gapx2 {
  grid-column-gap: 0.144rem !important;
}
.gapx3 {
  grid-column-gap: 0.232rem !important;
}
.gapx4 {
  grid-column-gap: 0.375rem !important;
}
.gapx5 {
  grid-column-gap: 0.606rem !important;
}
.gapx6 {
  grid-column-gap: 0.98rem !important;
}
.gapx7 {
  grid-column-gap: 1.58rem !important;
}

.gapy1 {
  grid-row-gap: 0.055rem !important;
}
.gapy2 {
  grid-row-gap: 0.144rem !important;
}
.gapy3 {
  grid-row-gap: 0.232rem !important;
}
.gapy4 {
  grid-row-gap: 0.375rem !important;
}
.gapy5 {
  grid-row-gap: 0.606rem !important;
}
.gapy6 {
  grid-row-gap: 0.98rem !important;
}
.gapy7 {
  grid-row-gap: 1.58rem !important;
}

.gap1 {
  grid-column-gap: 0.055rem !important;
  grid-row-gap: 0.055rem !important;
}
.gap2 {
  grid-column-gap: 0.144rem !important;
  grid-row-gap: 0.144rem !important;
}
.gap3 {
  grid-column-gap: 0.232rem !important;
  grid-row-gap: 0.232rem !important;
}
.gap4 {
  grid-column-gap: 0.375rem !important;
  grid-row-gap: 0.375rem !important;
}
.gap5 {
  grid-column-gap: 0.606rem !important;
  grid-row-gap: 0.606rem !important;
}
.gap6 {
  grid-column-gap: 0.98rem !important;
  grid-row-gap: 0.98rem !important;
}
.gap7 {
  grid-column-gap: 1.58rem !important;
  grid-row-gap: 1.58rem !important;
}
// Start column grid-lines
.grid-xs1 {
  grid-column-start: 1 !important;
}
.grid-xs2 {
  grid-column-start: 2 !important;
}
.grid-xs3 {
  grid-column-start: 3 !important;
}
.grid-xs4 {
  grid-column-start: 4 !important;
}
.grid-xs5 {
  grid-column-start: 5 !important;
}
.grid-xs6 {
  grid-column-start: 6 !important;
}
.grid-xs7 {
  grid-column-start: 7 !important;
}

.grid-xs-1 {
  grid-column-start: -1 !important;
}
.grid-xs-2 {
  grid-column-start: -2 !important;
}
.grid-xs-3 {
  grid-column-start: -3 !important;
}
.grid-xs-4 {
  grid-column-start: -4 !important;
}
.grid-xs-5 {
  grid-column-start: -5 !important;
}
.grid-xs-6 {
  grid-column-start: -6 !important;
}
.grid-xs-7 {
  grid-column-start: -7 !important;
}
// End column grid-lines
.grid-xe1 {
  grid-column-end: 1 !important;
}
.grid-xe2 {
  grid-column-end: 2 !important;
}
.grid-xe3 {
  grid-column-end: 3 !important;
}
.grid-xe4 {
  grid-column-end: 4 !important;
}
.grid-xe5 {
  grid-column-end: 5 !important;
}
.grid-xe6 {
  grid-column-end: 6 !important;
}
.grid-xe7 {
  grid-column-end: 7 !important;
}

.grid-xe-1 {
  grid-column-end: -1 !important;
}
.grid-xe-2 {
  grid-column-end: -2 !important;
}
.grid-xe-3 {
  grid-column-end: -3 !important;
}
.grid-xe-4 {
  grid-column-end: -4 !important;
}
.grid-xe-5 {
  grid-column-end: -5 !important;
}
.grid-xe-6 {
  grid-column-end: -6 !important;
}
.grid-xe-7 {
  grid-column-end: -7 !important;
}
// Start row grid-lines
.grid-ys1 {
  grid-row-start: 1 !important;
}
.grid-ys2 {
  grid-row-start: 2 !important;
}
.grid-ys3 {
  grid-row-start: 3 !important;
}
.grid-ys4 {
  grid-row-start: 4 !important;
}
.grid-ys5 {
  grid-row-start: 5 !important;
}
.grid-ys6 {
  grid-row-start: 6 !important;
}
.grid-ys7 {
  grid-row-start: 7 !important;
}

.grid-ys-1 {
  grid-row-start: -1 !important;
}
.grid-ys-2 {
  grid-row-start: -2 !important;
}
.grid-ys-3 {
  grid-row-start: -3 !important;
}
.grid-ys-4 {
  grid-row-start: -4 !important;
}
.grid-ys-5 {
  grid-row-start: -5 !important;
}
.grid-ys-6 {
  grid-row-start: -6 !important;
}
.grid-ys-7 {
  grid-row-start: -7 !important;
}
// End row grid-lines
.grid-ye1 {
  grid-row-end: 1 !important;
}
.grid-ye2 {
  grid-row-end: 2 !important;
}
.grid-ye3 {
  grid-row-end: 3 !important;
}
.grid-ye4 {
  grid-row-end: 4 !important;
}
.grid-ye5 {
  grid-row-end: 5 !important;
}
.grid-ye6 {
  grid-row-end: 6 !important;
}
.grid-ye7 {
  grid-row-end: 7 !important;
}

.grid-ye-1 {
  grid-row-end: -1 !important;
}
.grid-ye-2 {
  grid-row-end: -2 !important;
}
.grid-ye-3 {
  grid-row-end: -3 !important;
}
.grid-ye-4 {
  grid-row-end: -4 !important;
}
.grid-ye-5 {
  grid-row-end: -5 !important;
}
.grid-ye-6 {
  grid-row-end: -6 !important;
}
.grid-ye-7 {
  grid-row-end: -7 !important;
}
