// List bullet styles
$bullet_notations: none, disc, square, circle, decimal;
@each $b in $bullet_notations {
  .list-#{$b} {
    list-style-type: $b !important;
  }
}
.list-alpha {
  list-style-type: lower-alpha !important;
}
.list-roman {
  list-style-type: lower-roman !important;
}
// Location of bullet
.list-inside {
  list-style-position: inside !important;
}
.list-outside {
  list-style-position: outside !important;
}
// List orientation row or column
.list-row {
  display: inline !important;
  li {
    display: inline !important;
  }
}
.list-col {
  display: block !important;
  li {
    display:list-item block !important;
  }
}
ul.list-reset {
  display: block !important;
  list-style-type: initial !important;
  list-style-position: initial !important;
  li {
    display:list-item block !important;
  }
}
ol.list-reset {
  display: block !important;
  list-style-type: decimal !important;
  list-style-position: initial !important;
  li {
    display:list-item block !important;
  }
}
