// List bullet styles
$bullet_notations: none, disc, square, circle, decimal;
@each $b in $bullet_notations {
  .ls#{$b} {
    list-style-type: $b;
  }
}
.lsalpha {
  list-style-type: lower-alpha;
}
.lsroman {
  list-style-type: lower-roman;
}
// Location of bullet
.lsinside {
  list-style-position: inside;
}
.lsoutside {
  list-style-position: outside;
}
// List orientation row or column
.lsrow {
  list-style-type: none;
  display: inline;
  li {
    display: inline;
  }
}
.lscol {
  list-style-type: none;
  display: block;
  li {
    display:list-item block;
  }
}
ul.lsreset {
  display: block !important;
  list-style-type: revert !important;
  list-style-position: revert !important;
  li {
    display:list-item block !important;
  }
}
ol.lsreset {
  display: block !important;
  list-style-type: decimal !important;
  list-style-position: revert !important;
  li {
    display:list-item block !important;
  }
}
