// List bullet styles
$bullet_notations: none, disc, square, circle, decimal;
@each $b in $bullet_notations {
  .ls#{$b} {
    list-style-type: $b !important;
  }
}
.lsalpha {
  list-style-type: lower-alpha !important;
}
.lsroman {
  list-style-type: lower-roman !important;
}
// Location of bullet
.lsinside {
  list-style-position: inside !important;
}
.lsoutside {
  list-style-position: outside !important;
}
// List orientation row or column
.lsrow {
  list-style-type: none;
  display: inline !important;
  li {
    display: inline !important;
  }
}
.lscol {
  display: block !important;
  list-style-type: none;
  li {
    display:list-item block !important;
  }
}
ul.lsreset {
  display: block !important;
  list-style-type: initial !important;
  list-style-position: initial !important;
  li {
    display:list-item block !important;
  }
}
ol.lsreset {
  display: block !important;
  list-style-type: decimal !important;
  list-style-position: initial !important;
  li {
    display:list-item block !important;
  }
}
