// Default font 'Roboto'
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Make sure 'npm i -D normalize.css'
@import url(/node_modules/normalize.css/normalize.css);

// Calculation simplified when only bottom 
// margin and padding need to be considered.
* {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
// The Root element (rem) size is based off the font size of 16px.
// Reset box model to use border-box calculation.
:root {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  box-sizing: border-box !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
}

@import 'border';
@import 'boxmodel';
@import 'display';
@import 'flexbox';
@import 'float';
// @import 'grid';
@import 'list';
@import 'position';
// @import 'responsive';
@import 'size';
@import 'spacing';
@import 'text';
@import 'typography';
@import 'utility';
//-------------------------------
// Declared global variable here
//-------------------------------

//-----------------------------
// Declare Global styles here
//-----------------------------
