// Position values
.pos-t, .top {
  top: 0 !important;
}
.pos-b, .bottom {
  bottom: 0 !important;
}
.pos-l, .left {
  left: 0 !important;
}
.pos-r, .right {
  right: 0 !important;
}
// Z index positions
.z0 {
  z-index: 0 !important;
}
@for $n from 1 through 7 {
  .z#{$n} {
    z-index: $n !important;
  }
  .z-#{$n} {
    z-index: -#{$n} !important;
  }
}
// Position
.fixed {
  position: fixed !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.static {
  position: static !important;
}
