// Position values
.top {
  top: 0 !important;
}
.bottom {
  bottom: 0 !important;
}
.left {
  left: 0 !important;
}
.right {
  right: 0 !important;
}
// Z index positions
.zauto {
  z-index: auto !important;
}
.z0 {
  z-index: 0 !important;
}
@for $n from 1 through 7 {
  .z#{$n} {
    z-index: $n !important;
  }
  .z-#{$n} {
    z-index: -#{$n} !important;
  }
}
// Position
.fixed {
  position: fixed !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.static {
  position: static !important;
}
