// Position
.pos-t {
  top: 0 !important;
}
.pos-b {
  bottom: 0 !important;
}
.pos-l {
  left: 0 !important;
}
.pos-r {
  right: 0 !important;
}
.z1 {
  z-index: 1 !important;
}
.z2 {
  z-index: 2 !important;
}
.z3 {
  z-index: 3 !important;
}
.z4 {
  z-index: 4 !important;
}
.fixed {
  position: fixed !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.static {
  position: static !important;
}
