// Width fixed
$size_scales: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $n in $size_scales {
  .w#{$n} {
    width: #{$n}% !important;
  }
  .wmin#{$n} {
    min-width: #{$n}% !important;
  }
  .wmax#{$n} {
    max-width: #{$n}% !important;
  }
  .h#{$n} {
    height: #{$n}% !important;
  }
  .hmin#{$n} {
    min-height: #{$n}% !important;
  }
  .hmax#{$n} {
    max-height: #{$n}% !important;
  }
}
.hauto {
  height: auto !important;
}
.wauto {
  width: auto !important;
}
.wnomax {
  max-height: none !important;
}
.hnomax {
  max-width: none !important;
}
