// Width fixed
$size_scales: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $n in $size_scales {
  .w#{$n} {
    width: #{$n}% !important;
  }
  .w-min#{$n} {
    min-width: #{$n}% !important;
  }
  .w-max#{$n} {
    max-width: #{$n}% !important;
  }
  .h#{$n} {
    height: #{$n}% !important;
  }
  .h-min#{$n} {
    min-height: #{$n}% !important;
  }
  .h-max#{$n} {
    max-height: #{$n}% !important;
  }
}
