// Width fixed
.w0 {
  width: 0 !important;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
// Width minimum
.w-min10 {
  min-width: 10%;
}
.w-min20 {
  min-width: 20%;
}
.w-min30 {
  min-width: 30%;
}
.w-min40 {
  min-width: 40%;
}
.w-min50 {
  min-width: 50%;
}
.w-min60 {
  min-width: 60%;
}
.w-min70 {
  min-width: 70%;
}
.w-min80 {
  min-width: 80%;
}
.w-min90 {
  min-width: 90%;
}
.w-min100 {
  min-width: 100%;
}
// Width maximum
.w-max10 {
  max-width: 10%;
}
.w-max20 {
  max-width: 20%;
}
.w-max30 {
  max-width: 30%;
}
.w-max40 {
  max-width: 40%;
}
.w-max50 {
  max-width: 50%;
}
.w-max60 {
  max-width: 60%;
}
.w-max70 {
  max-width: 70%;
}
.w-max80 {
  max-width: 80%;
}
.w-max90 {
  max-width: 90%;
}
.w-max100 {
  max-width: 100%;
}
// Height fixed
.h0 {
  height: 0 !important;
}
.h10 {
  height: 10%;
}
.h20 {
  height: 20%;
}
.h30 {
  height: 30%;
}
.h40 {
  height: 40%;
}
.h50 {
  height: 50%;
}
.h60 {
  height: 60%;
}
.h70 {
  height: 70%;
}
.h80 {
  height: 80%;
}
.h90 {
  height: 90%;
}
.h100 {
  height: 100%;
}
// Height minimum
.h-min10 {
  min-height: 10%;
}
.h-min20 {
  min-height: 20%;
}
.h-min30 {
  min-height: 30%;
}
.h-min40 {
  min-height: 40%;
}
.h-min50 {
  min-height: 50%;
}
.h-min60 {
  min-height: 60%;
}
.h-min70 {
  min-height: 70%;
}
.h-min80 {
  min-height: 80%;
}
.h-min90 {
  min-height: 90%;
}
.h-min100 {
  min-height: 100%;
}
// Height maximum
.h-max10 {
  max-height: 10%;
}
.h-max20 {
  max-height: 20%;
}
.h-max30 {
  max-height: 30%;
}
.h-max40 {
  max-height: 40%;
}
.h-max50 {
  max-height: 50%;
}
.h-max60 {
  max-height: 60%;
}
.h-max70 {
  max-height: 70%;
}
.h-max80 {
  max-height: 80%;
}
.h-max90 {
  max-height: 90%;
}
.h-max100 {
  max-height: 100%;
}
