// Padding using Golden Ratio. Multiplier 1.618, values truncated.
$spacing_scales: 0, 0.25, 0.404, 0.654, 1.051, 1.700, 2.75, 4.449;

@each $sval in $spacing_scales {
  $i: index($spacing_scales, $sval);
  // Padding
  .p#{$i - 1} {
    padding: #{$sval}rem !important;
  }
  .pt#{$i - 1} {
    padding-top: #{$sval}rem !important;
  }
  .pb#{$i - 1} {
    padding-bottom: #{$sval}rem !important;
  }
  .pl#{$i - 1} {
    padding-left: #{$sval}rem !important;
  }
  .pr#{$i - 1} {
    padding-right: #{$sval}rem !important;
  }
  .py#{$i - 1} {
    padding-top: #{$sval}rem !important;
    padding-bottom: #{$sval}rem !important;
  }
  .px#{$i - 1} {
    padding-left: #{$sval}rem !important;
    padding-right: #{$sval}rem !important;
  }
  // Margin
  .m#{$i - 1} {
    margin: #{$sval}rem !important;
  }
  .mt#{$i - 1} {
    margin-top: #{$sval}rem !important;
  }
  .mb#{$i - 1} {
    margin-bottom: #{$sval}rem !important;
  }
  .ml#{$i - 1} {
    margin-left: #{$sval}rem !important;
  }
  .mr#{$i - 1} {
    margin-right: #{$sval}rem !important;
  }
  .my#{$i - 1} {
    margin-top: #{$sval}rem !important;
    margin-bottom: #{$sval}rem !important;
  }
  .mx#{$i - 1} {
    margin-left: #{$sval}rem !important;
    margin-right: #{$sval}rem !important;
  }
}
// Auto
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
