// Justification
.ttl {
  text-align: left;
}
.ttc {
  text-align: center;
}
.ttr {
  text-align: right;
}
.ttj {
  text-align: justify;
  text-justify: auto;
}
// Vertical alignment
.ttvt {
  vertical-align: top;
}
.ttvm {
  vertical-align: middle;
}
.ttvbl {
  vertical-align: baseline;
}
.ttvb {
  vertical-align: bottom;
}
// Character transformation
.tt-caps {
  text-transform: capitalize;
}
.tt-upcase {
  text-transform: uppercase;
}
.tt-lowcase {
  text-transform: lowercase;
}
.tt-none  {
  text-transform: none !important;
}
// Text wrapping
.tt-wrap {
  overflow-wrap: break-word;
}
.tt-nowrap {
  overflow-wrap: normal;
}
// How to deal with overflow content
.tt-overflow {
  overflow: visible;
}
.tt-overflow-auto {
  overflow: auto;
}
.tt-clip {
  overflow: hidden
}
.tt-scroll {
  overflow: scroll;
}
.tt-overflowy {
  overflow-y: visible;
}
.tt-overflowy-auto {
  overflow-y: auto;
}
.tt-clipy {
  overflow-y: hidden
}
.tt-scrolly {
  overflow-y: scroll;
}
.tt-overflowx-auto {
  overflow-x: auto;
}
.tt-overflowx {
  overflow-x: visible;
}
.tt-clipx {
  overflow-x: hidden
}
.tt-scrollx {
  overflow-x: scroll;
}
