// Justification
.ttl {
  text-align: left !important;
}
.ttc {
  text-align: center !important;
}
.ttr {
  text-align: right !important;
}
.ttj {
  text-align: justify !important;
  text-justify: auto !important;
}
// Vertical alignment
.ttvt {
  vertical-align: top !important;
}
.ttvm {
  vertical-align: middle !important;
}
.ttvbl {
  vertical-align: baseline !important;
}
.ttvb {
  vertical-align: bottom !important;
}
.ttvtb {
  vertical-align: text-bottom !important;
}
.ttvtt {
  vertical-align: text-top !important;
}

// Character transformation
.tt-caps {
  text-transform: capitalize !important;
}
.tt-upcase {
  text-transform: uppercase !important;
}
.tt-lowcase {
  text-transform: lowercase !important;
}
.tt-none  {
  text-transform: none !important;
}
// Text wrapping
.tt-wrap {
  overflow-wrap: break-word !important;
}
.tt-nowrap {
  overflow-wrap: normal !important;
  white-space: nowrap !important;
}
// How to deal with overflow content
.tt-overflow {
  overflow: visible !important;
}
.tt-overflow-auto {
  overflow: auto !important;
}
.tt-clip {
  overflow: hidden !important;
}
.tt-scroll {
  overflow: scroll !important;
}
.tt-overflowy {
  overflow-y: visible !important;
}
.tt-overflowy-auto {
  overflow-y: auto !important;
}
.tt-clipy {
  overflow-y: hidden !important;
}
.tt-scrolly {
  overflow-y: scroll !important;
}
.tt-overflowx {
  overflow-x: visible !important;
}
.tt-overflowx-auto {
  overflow-x: auto !important;
}
.tt-clipx {
  overflow-x: hidden !important;
}
.tt-scrollx {
  overflow-x: scroll !important;
}
