// Heading scaled based on Major Third Ratio.
$heading_scale: 3.052, 2.441, 1.953, 1.563, 1.25, 1;
@each $hval in $heading_scale {
  $i: index($heading_scale, $hval);
  h#{$i}, .h#{$i} {
    font-size: #{$hval}rem !important;
    font-weight: bold !important;
  }
}
.h7 {
  font-size: 0.889rem !important;
  font-weight: bold !important;
}
// Font size using Golden Ratio 1.618, calculated values truncated.
// $fheight_pscale: 1, 1.618, 3.236, 4.854, 6.472, 8.09, 9.708;
// Major 2nd - $fheight_pscale: 1, 1.125, 1.266, 1.424, 1.602, 1.802, 2.027, 2.281;
// Major 3rd - $fheight_pscale: 1, 1.25, 1.563, 1.953, 2.441, 3.052, 3.815;
// Perfect 3rd Ratio
$fheight_pscale: 1, 1.333, 1.778, 2.370, 3.160, 4.214, 5.619, 7.491;
@each $fval in $fheight_pscale {
  $i: index($fheight_pscale, $fval);
  .fh#{$i} {
    font-size: #{$fval}rem !important;
  }
}

$fheight_nscale: 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3;
@each $fval in $fheight_nscale {
  $i: index($fheight_nscale, $fval);
  .fh-#{$i} {
    font-size: #{$fval}rem !important;
  }
}
// Font styles
.fsn {
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
}
.fsi {
  font-style: italic !important;
}
.fsb {
  font-weight: bold !important;
}
.fsu {
  text-decoration-line: underline !important;
  text-decoration-style: solid !important;
}
.fss {
  text-decoration-line: line-through !important;
  text-decoration-style: solid !important;
}
.fsw {
  text-decoration-line: underline !important;
  text-decoration-style: wavy !important;
}
// Font weights 100 - 900
@for $n from 1 through 9 {
  .fw#{$n * 100} {
    font-weight: $n * 100 !important;
  }
}
