.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
.centerx {
  display: flex !important;
  justify-content: center !important;
}
.centery {
  display: flex !important;
  align-items: center !important;
}
.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
