.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
.centerx {
  display: flex;
  justify-content: center;
}
.centery {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
